; EditorConfig is awesome: http://EditorConfig.org
; top-most EditorConfig file
root = true

; Unix-style
[*]
end_of_line = lf
charset = utf-8

[*.md]
indent_style = space
indent_size = 4

[*.zsh]
indent_style = space
indent_size = 4

[*.zsh-theme]
indent_style = space
indent_size = 4