#
# This file is part of My Zsh Config
#
# Copyright (c) 2014-2025 Guillaume Kulakowski <guillaume@kulakowski.fr>
# Depend of Oh My Zsh (https://github.com/robbyrussell/oh-my-zsh)
#
# Distributed under the GNU GPL v2. For full terms see the file LICENSE.
#

# Override HOST_COLOR from llaumgui.zsh.theme
ZSH_HOST_COLOR=blue

# Override plugins list
plugins=(
  aliases
  bat
  colored-man-pages
  common-aliases
  fancy-ctrl-z
  git
  history
  screen
  sudo
  systemd
  z
)

# Set theme
#ZSH_THEME="llaumgui-simple"
