#
# This file is part of My Zsh Config
# 
# Copyright (c) 2014 Guillaume Kulakowski <guillaume@kulakowski.fr> 
# Depend of Oh My Zsh (https://github.com/robbyrussell/oh-my-zsh)
#
# Distributed under the GNU GPL v2. For full terms see the file LICENSE.
#

# Override HOST_COLOR from llaumgui.zsh.theme and motd plugin
ZSH_HOST_COLOR=blue

# Override plugins list
plugins=(bower colored-man common-aliases composer cp git git-extras git-flow history history-substring-search node npm phing screen sudo symfony2 systemadmin systemd vagrant vim-interaction yum z)

# Set argument to fortune in motd plugin
#ZSH_FORTUNE_ARG="/usr/share/games/fortune-fr/"

# Set theme
#ZSH_THEME="llaumgui-simple"
