# Override HOST_COLOR from llaumgui.zsh.theme
ZSH_HOST_COLOR=blue

# Override plugins list
ZSH_PLUGINS_LIST="bower colored-man colorize common-aliases composer cp git git-extras history history-substring-search node npm phing screen sudo symfony2 systemadmin systemd vagrant vim-interaction yum z"

# Uncomment to disable motd
#ZSH_THEME_DISABLE_MOTD=true
